div .float {
  position: relative;
  float: left;
}

.edit img, input{
  display: block;
}

.bgcolor {
  background-color: #e6f9ff;
  padding: 1% 0;
}

.bgcolor.login {
  padding: 10%;
}

.header {
  background-color: #f2f2f2;
  position: fixed;
  width: 95.5%;
}

.header h1 {
  margin-left: 2%;
}

.home_img {
  display: block;
  float: left;
  width: 99%;
  opacity: 0.7;
}

.B_left {
  position: absolute;
  left: 100px;
  bottom: 20px;
  display: block;
  color: white;
  background-color: green;
  opacity: 0.5;
  height: 5%;
  width: 10%;
  padding-top: 5px;
  text-align: center;
}

.B_right {
  position: absolute;
  right: 100px;
  bottom: 20px;
  display: block;
  color: white;
  background-color: green;
  opacity: 0.5;
  height: 5%;
  width: 10%;
  padding-top: 5px;
  text-align: center;
}

.center_box {
  margin: auto;
  width: 60%;
  border: 3px solid #73AD21;
  padding: 10px;
}


.form_box {
  position: fixed;
  top: 15%;
  right: 3%;
  width: 30%;
  border: 3px solid #73AD21;
  padding: 10px;
  margin: 10px;
}

@media screen and (max-width: 840px){
    .form_box {
      position: relative;
      margin: auto;
      width: 60%;
    }
}

.background {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 40px;
}

.inputField {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  font-size: 16px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.center {
  margin: auto;
  width: 80%;
  padding: 10px;
  text-align: center;
}

.warning {
  color: #ee1111;
}

.ui-hint {
  color: #ee1111;
  font-size: 14px;
}

.ui-input_state_invalid {
  border-color: #ee1111;
}

body {
  background: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.7;
  margin: 0;
  padding: 30px;
  padding-top: 0;
}

a {
  color: #4183c4;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

code {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 3px;
  font-family: "Bitstream Vera Sans Mono", Consolas, Courier, monospace;
  font-size: 12px;
  margin: 0 2px;
  padding: 0px 5px;
}

h1, h2, h3, h4 {
  font-weight: bold;
  margin: 0 0 15px;
  padding: 0;
}

h1 {
  border-bottom: 1px solid #ddd;
  font-size: 2.5em;
  font-weight: bold;
  margin: 0 0 15px;
  padding: 0;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  color: #009999;
}

h1.hidden {
    visibility: hidden;
    margin-bottom: 20px;
}

h2 {
  border-bottom: 1px solid #eee;
  font-size: 2em;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

h3 {
  font-size: 1.5em;
  color: #669999;
}

h4 {
  font-size: 1.2em;
}

p, ul {
  margin: 15px 0;
}

ul {
  padding-left: 30px;
}

.hide {
  display: none
}
