.image {
  width: 270px;
  height: 230px;
  overflow: auto;
  margin-top: 10px;
}

.text_img {
  display: inline-block;
  float:left;
  height: 20px;
  width: 20px;
  margin: 10px 10px 10px 5px;
}

.text_img2 {
  display: inline-block;
  float:left;
  height: 15px;
  width: 15px;
  margin: 5px;
}

.item {
  display: block;
  float: left;
  margin: 30px 40px 30px 40px;
  color: #666666;
}

.item:hover {
  background-color: #f2f2f2;
}

.itemList {
  width: 65%;
  overflow: auto;
}

.itemName {
  font-size: 1.5em;
}

